main {
  padding: 0 1rem;
  display: grid;
  font-family: Inter;
  gap: 3.5rem;
  grid-template-areas:
    "nav"
    "header"
    "action"
    "cache"
    "noCache"
    "results";
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  max-width: 64rem;
  margin: 1.875rem auto 6.5rem auto;
}

@media (min-width: 64rem) {
  main {
    padding: 0;
    grid-template-areas:
      "nav nav"
      "header header"
      "action action"
      "cache noCache"
      "results results";
    grid-template-columns: 1fr 1fr;
  }
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

nav .badge {
  background: #ebf4ff;
  border-radius: 0.25rem;
  color: #4c51bf;
  padding: 0.375rem;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
}

header {
  grid-area: header;
  text-align: center;
  max-width: 500px;
  justify-self: center;
}

header h1 {
  margin: 0.5rem 0;
}

header p {
  color: #2D3748;
  font-size: 14px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

section.card {
  border: 1px solid #edf2f7;
  border-radius: 0.375rem;
  padding: 2rem 1.5rem;
  color: #2D3748;
}

section h2 {
  color: #2D3748;
  font-size: 1.5rem;
  line-height: 1.16;
  font-weight: 600;
}

section.card.idle dl,
section.card.running dl {
  color: #718096;
}

section.card.running dd {
  animation: flash 1s linear infinite;
}

dd {
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: center;
}

dt {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

section .badge {
  display: inline-block;
  white-space: nowrap;
  align-self: baseline;
  padding: 0 0.375rem;
  border-radius: 2px;
  font-size: 11px;
  line-height: 1.7;
  text-transform: uppercase;
  font-weight: 600;
}

section .badge.green {
  background: #d9f9f6;
  color: #154f47;
}

section .badge.gray {
  background: #f7fafc;
  color: #2d3748;
}

section .badge.red {
  background: #FFF5F5;
  color: #9B2C2C;
}

.code {
  margin-top: -1rem;
  align-items: flex-start;
  flex: 1;
}

.code pre {
  white-space: pre;
}

section.results {
  grid-area: results;
  align-items: flex-start;
}

section.results p {
  color: #718096;
}

section.results table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.875rem;
  text-align: left;
}

section.results table tr {
  border-bottom: 1px solid #E2E8F0;
}

section.results table th,
section.results table td {
  padding: 1.25rem 0.5rem 1.25rem 0; 
}

section.results table th {
  color: #1A202C;
  font-weight: 500;
  line-height: 1.7;
}

section.results table td {
  color: #2D3748;
  line-height: 1;
}

section.results table th#time,
section.results table th#speedup {
  width: 8%;
}

section.results table th#location {
  width: 20%;
}

section.results table td[headers="location"] {
  color: #718096;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}

